.user_info_whole_view {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.user_info {
    width: 55vw;
    height: 75vh;
    background-color: white;
    border-radius: 10px;
    margin-left: 2rem;
    padding: 1rem
}

.header {
    font-size: 1.5rem;
    margin: 1rem;
    text-align: center;
}

.button {
    width: 10rem;
    height: 2.5rem;
    font-size: 1rem;
    border-radius: 10px;
    background-color: aliceblue;
    margin-top: 1rem;
    transition: all 300ms;
}

.button:hover {
    background-color: beige;
}

.input {
    border: 1px solid black;
    border-radius: 10px;
    width: 10rem;
    height: 2rem;
    text-align: center;
    outline: none;
}