@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-color: white;
  --primary-color: #afffaf;
  --secondary-color: #ffb451;
  --gray: #cfcfcf;
  --background-gradient: linear-gradient(to bottom, from var(--primary-color), to var(--secondary-color));
  --main-fontface: Helvetica
}


@media (prefers-color-scheme: dark) {
  :root {
    /* dark theme */
  }
}

body {
  color: black;
  background: var(--background-gradient)
}