@value vars: '../vars.css';
@value background-gradient, main-fontface, foreground-color, contrast-color, secondary-color from vars;

.wrapper {
    /* background: background-gradient; */
    color: black;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    /* background-color: white; */
    /* background: linear-gradient(foreground-color, secondary-color); */
}

.header {
    padding: 1rem;
    display: flex;
    background-color: white;
    font-size: 2rem;
    height: 5rem;
    font-family: main-fontface;
    box-shadow: 0 0 1rem black;
}

.main {
    font-family: Georgia;
    text-align: center;
    font-size: 5rem;
    height: 100%;
    position: relative;
    z-index: 1;
}

.background {
    background-image: url('/assets/background/library.jpg');
    background-size: cover;
    opacity: 0.3;
    height: 100%;
    width: 100%;
    margin: 0;
    position: absolute;
    /* z-index: 2; */
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15rem;
}

.hello {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
}